.printable-songsheet {
  page-break-after: always;
  -webkit-print-color-adjust: exact;
  -moz-print-color-adjust: exact;
  -ms-print-color-adjust: exact;
  print-color-adjust: exact;
}

.song-title {
  font-size: 30px!important;
  color: #8257E5;
}

.song-artist {
  margin-bottom: 1rem;
}

.song-tone {
  margin-bottom: 1rem;
}

.song-tone strong {
  color: #4963F7;
}

.song-section {
  overflow: hidden;
  max-width: 100%;
  overflow-x: auto;
}

.lyrics, .chord {
  max-height: 28px;
  min-height: 28px;
  font-size: 22px;
}

.chord {
  margin-right: 4px;
}

.paragraph + .paragraph {
  margin-top: 1rem;
}

.row {
  display: flex!important;
  flex-direction: row;
  position: relative;
  break-inside: avoid;
  page-break-inside: avoid;
}

.column {
  display: flex!important;
  flex-direction: column;
}

.comment {
  color: #cccccc;
  font-size: 16px!important;
}

.comment, .chorus:before, .verse::before {
  font-weight: bold;
  font-style: italic;
  break-after: avoid;
  page-break-inside: avoid;
}

.chord, .lyrics {
  white-space: pre;
}

.chord-sheet *:not(.tab) .chord {
  color: #4963F7;
  font-weight: bold;
}

.chorus {
  border-left: 4px solid #8257E5;
  padding-left: 1.5em;
}

.chorus::before {
  content: "Refrão:";
}

.verse::before {
  counter-increment: verse;
  content: "Verso " counter(verse) ":";
}

.chord:after, .lyrics:after {
  content: '\200b';
}